.h1 {
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.h2 {
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 20;
}

.h3 {
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 16;
}

.text-error {
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 12;
    -fx-fill: #ee3f58;
}

.input-field {
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 14;
    -fx-text-fill: #282d32;

    -fx-border-color: #ffffff;
    -fx-background-color: #f5f7fa;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
}
.input-field:focused {
    -fx-border-color: #89a9f5;
}

.accept-button {
    -fx-font-family: Nunito, sans-serif;

    -fx-border-style: hidden;
    -fx-border-color: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-background-color: #1d5deb;
    -fx-background-radius: 5;
    -fx-background-size: 0.95;

    -fx-font-size: 16;
}
.accept-button:hover {
    -fx-background-color: #2a6aef;
}
.accept-button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    transition: all 0.5s
}

.cancel-button {
    -fx-font-family: Nunito, sans-serif;

    -fx-border-style: hidden;
    -fx-border-color: #ffffff;
    -fx-text-fill: #3c3c3d;
    -fx-background-color: #f5f7fa;
    -fx-background-radius: 5;
    -fx-background-size: 0.95;

    -fx-font-size: 16;
}
.cancel-button:hover {
    -fx-background-color: #dfe0e5;
}
.cancel-button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.delete-button {
    -fx-font-family: Nunito, sans-serif;

    -fx-border-color: #ee3f58;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-text-fill: #3c3c3d;
    -fx-background-color: #ffd0e4;
    -fx-background-radius: 5;
    -fx-background-size: 0.95;

    -fx-font-size: 16;
}

.delete-button:hover {
    -fx-background-color: #dfe0e5;
}
.delete-button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.input-error {
    -fx-border-color: #ee3f58;
}

.check_box .box {
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 16;
    -fx-text-fill: #282d32;
    -fx-background-color: #f5f7fa;
    /*-fx-border-color:grey;*/
    -fx-border-radius:3px;

}

.check_box:selected .mark {

    -fx-background-color: white;

}

.check_box:selected .box {

    -fx-background-color: #2a6aef;
}

.date-picker {
    -fx-background-color: #f5f7fa;
    -fx-background-radius: 5;
    -fx-border-style: none;
}

/*-----------------------------------------
Customize the right button background color
-------------------------------------------*/
.date-picker .arrow-button {
    -fx-background-color: #2a6aef;
    -fx-background-radius: 0;
}

.date-picker .arrow-button:hover {
    -fx-background-color: #6e92e8;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}

/*-----------------------------------------
Customize popup content
-------------------------------------------*/
.date-picker .cell {
    -fx-background-color: white;
}

.date-picker .cell:hover {
    -fx-background-color: #6e92e8;
}

.date-picker .cell:focused {
    -fx-background-color: #6e92e8;
}

/*-----------------------------------------
Customize the selected cell
-------------------------------------------*/
.date-picker .selected {
    -fx-background-color: #1d5deb;
    -fx-text-fill: white;
}

.date-picker .selected:focused {
    -fx-background-color: #1d5deb;
    -fx-text-fill: white;
}

.date-picker-popup {
    -fx-border-color: transparent;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: #6e92e8;
}

.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}
